data/*
data_train/*
Debug/*
HMM_ddd/*
ipch/*
OpenNI_DS325/*
OpenNI_DS325_DLL/*
PointCloud/*
Record_ddd/*
Release/*
Test_ddd/*
Record_ddd.sdf
Record_ddd.sln
Record_ddd.v11.suo
*/Debug/*
*/Release/*
*.vcxproj
*.filters
*/FeatureData/*
*/train_sequence/*
*.user
*.png
*.avi
*/datas/*
*/data/*